.card-container {
  width: 100%;
  max-width: 20rem;
  height: auto;
  max-height: 15rem;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
}

.bitcoin-background {
  background-color: #ffae34;
}

.ninjaBank-background {
  background-color: #222222;
  color: white;
}

.blockChain-background {
  background-color: #8b58f9;
}

.evilCorp-background {
  background-color: #f33355;
}

.default-background {
  background-color: #d6d6d6;
}

.card-upper-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}

.card-chip-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-num {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.card-bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.card-date {
  text-align: right;
}

.testyTest {
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .card-container {
    width: 100%;
    height: auto;
  }

  .card-num {
    font-size: 1.5rem;
  }
}
