

.card {
  background: #ffc439; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 382px;
  height: 241px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.signal {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px; 
}

.vendorLogo {
  width: 64px; 
  height: 64px; 
  position: absolute;
  top: 20px;
  right: 20px;;
}

.chip {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 50px; 
  margin-bottom: auto;
}

.cardNumber {
  font-size: 1.6em;
  margin:auto
}

.cardholderInfo {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.cardholderLabel, .validLabel {
  font-size: 0.8em;
  color: #333;
  text-transform: uppercase;
}

.cardholderName, .validThru {
  font-size: 1.2em;
  color: #333;
  text-transform: uppercase;
}


