.card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
}

.card_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.card_numbers {
    font-size: 29px;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.card_section_1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.payment {
    height: 84px;
    width: 50px;
}

.img_bitcoin {
width: 27px;
height: 38px;

}
.evil {
  width: 27px;
  height: 38px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 382px;
  height: 241px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
  
  .bitcoinColor {
    background-color: yellow;
  }
  
  .ninjaBankColor {
    background-color: blue;
  }
  
  .blockChainIncColor {
    background-color: green;
  }
  
  .evilCorpColor {
    background-color: rgb(128, 0, 90);
  }
.card-yellow {
  background-color: #FFAE34;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 150px;
}
.card-blue {
  background-color: blue;
  color: white;
  margin: 10px;
  padding: 10px; 
  border-radius: 15px;
  z-index: 1;
  position: absolute;
  bottom: 100px; /* Justera toppmarginalen för att synas lite i toppen */
}

.card-purple {
  background-color: #8B58F9
  ;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  z-index: 2;
  position: absolute;
  bottom: 50px; /* Justera toppmarginalen för att synas lite i toppen */
}

.card-red {
  background-color: #F33355  ;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  z-index: 3;
  position: absolute;
  bottom: 0; /* Justera toppmarginalen för att ligga på toppen av de andra korten */
}
.e-wallet {
  position: relative; 
}
.card:hover {
  z-index: 4;
}