.add__card__h1 {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  padding: 10px 0;
}

.add__card__section__container {
  width: 100dvw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.add__card__div__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.new__card__h2 {
  color: #22222299;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  padding: 8px 0;
}

.homeBtn {
  background-color: #000;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  top: 10dvh;
  left: 5dvw;
}

.cardsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
